header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 4px solid #000;
  position: fixed;
  
  height: 10vh;
  margin: 0;
  left: 20px; /* Même marge à gauche que dans le header */
  right: 20px; /* Même marge à droite que dans le header */
  margin-top: 20px;
}
header h1 {
  font-weight: bold;
  color: #000000;
}
  
.social-media{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  
  
  

 
}

.social-media a{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    
    
}
 
  
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 20px; /* Même marge à gauche que dans le header */
  right: 20px; /* Même marge à droite que dans le header */
  margin: 0;
  border: 4px solid #000;
  margin-bottom: 20px; /* Même marge inférieure que dans le header */
}
footer p {
  color: #000000 !important;
  font-weight: bold;
}


  
  /* Styles for the logo container 
  .logo-container {
    width: 100px; /* Largeur du conteneur epn pourcentage 
    padding-top: 100px; /* Hauteur du conteneur en pourcentage (pour créer un cercle) 
    border: 1px solid #000; /* Bordure noire 
    border-radius: 50%; /* Forme du cercle 
    overflow: hidden; /* Recadrage de l'imge en forme de cercle 
    margin-right: 5px; /* Espacement entre l'image et le texte de l'en-tête 
    /*background-image: url('o_voleur.png');  Image de fond 
    background-size: cover; /* Ajuste la taille de l'image pour qu'elle couvre entièrement le conteneur 

    background-repeat: no-repeat; /* Empêche la répétition de l'image 
    background-position: center; /* Centre l'image dans le cercle 
  }
  
  /* Styles for the header text */


