:root {
  --background-color: #ffffff; /* Couleur de fond par défaut (mode clair) */
  --text-color: #000000; /* Couleur du texte par défaut (mode clair) */
}

body{
  height:100vh;
  border: 4px solid #000;
  display:flex;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 4px solid #000;
  position: absolute;
  
  height: 15vh;
  margin: 0;
  left: 20px; /* Même marge à gauche que dans le header */
  right: 20px; /* Même marge à droite que dans le header */
  margin-top: 5vh;
}
header h1 {
  font-weight: bold;
  color: #000000;
  font-size: 5vh;
  
}

.parent_nav{
  display:flex;
  position: absolute;
  
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  border: 4px solid #000;
  right:20px;
  left: 20px;
  height: 5vh;
  
}
.child_nav{
  text-decoration: none;
  color: #000000;
  margin-right:10px;
  font-weight :bold;
  
}


  
.social-media{
  position: absolute;
  right:20px;
  left: 20px;
  height:45vh;
  text-align: center;
  border: 4px solid #000;
  
  margin-top: 35vh;
  display: flex;
  flex-direction: column; /* Définit la direction du flux en tant que colonne */
  align-items: center;
  justify-content: center;


 
}

.social-media a{
    color: #000000;
    font-size: 4vh;
    font-weight: bold;
    
    
}
 
  
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: absolute;
  margin-top: 84vh;
  left: 20px; /* Même marge à gauche que dans le header */
  right: 20px; /* Même marge à droite que dans le header */
  
  border: 4px solid #000;
  margin-bottom: 2vh; /* Même marge inférieure que dans le header */
}
footer p {
  color: #000000 !important;
  font-weight: bold;
  font-size: 2vh;
}


  
  /* Styles for the logo container */
  .parent_logo {
    /* Styles pour le parent du logo */
  }
  
  .logo-container {
    height: 10vh;
    width: 10vh; /* Réglez la largeur pour qu'elle soit égale à la hauteur */
    border: 4px solid #000;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
  }
  
  .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
 

  
